body {
    background-color: #302e3c;
    color: white;
}

#selector, #videoybotones {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

